<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Express Basic Website</title>
  </head>
  <body
    style="
      background-image: url('https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1439,w_2560,x_0,y_0/dpr_1.5/c_limit,w_1044/fl_lossy,q_auto/v1492198555/articles/2014/06/23/inside-kim-kardashian-hollywood-the-reality-star-s-aspirational-app-and-vainest-project-yet/140622-mcinnis-kim-k-tease_icpbrp');
      background-size: cover;
      background-repeat: no-repeat;
    "
  >
    <a href="/about">About</a>
    <a href="/works">Works</a>
  </body>
</html>
