body {
    background-color: antiquewhite;
    background-image: url('/images/kim-bng.webp');
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
}

.container img {
    width: 250px;
    display: block;
    margin: auto;
}

h1 {
    font-size: 3rem;
}
.container {
    background-color: white;
    opacity: 0.9;
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: justify;
}

.previous-logo {
    width: 10px;
    margin-right: 5px;
}

a {
    margin-top: 20px;
}

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: green;
    color: white;
  }